body
{
    font-family: 宋体;
}
.bookTitle/**丛书名*/
{
    font-family:黑体;
    font-size:1.7em;
    text-align:center;
}
.bookname/**书名*/
{
    font-family:黑体;
    font-size:2.0em;
    text-align:center;
    margin: 2em 0em 0em 0em;
}
.booksubname/**副书名*/
{
    font-family:黑体;
    font-size:1.5em;
    text-align:center;
    margin: 0.5em 0em 0em 0em;
}
.author/**作者*/
{
    font-family:黑体;
    font-size:1.5em;
    text-align:center;
    margin: 1em 0em 0em 0em;
}
.publish/**出版社*/
{
    font-family:黑体;
    font-size:1.5em;
    text-align:center;
    margin: 6em 0em 1em 0em;
}
.classTitle/**篇*/
{
    font-family:黑体;
    font-size:2.0em;
    text-align:center;
    margin: 1em 0em 2em 0em;
}

.chapterTitle/**一级标题*/
{
    font-family:黑体;
    font-size:2.0em;
    text-align:center;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.sectionTitle/**二级标题*/
{   
    font-family:黑体;
    font-size:1.7em;
    text-align:center;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.listTitle1/**三级标题*/
{
    font-family:黑体;
    font-size:1.5em;
    text-align:center;
    font-weight:bold;
    margin: 1em 0em 1em 0em;
}
.content/**正文*/
{
    font-size: 1.0em;
    text-align: left;
    text-indent:2.0em;
    line-height:1.5em;
    margin: 1em 0em 1em 0em;
}
.special/**居右*/
{
    font-size: 1.0em;
    text-align: right;
    text-indent:2.0em;
    line-height:1.5em;
    margin: 0em 0em 0em 0em;
}
.question
{
    font-size: 1.5em;
    text-align: center;
    text-indent:2.0em;
    line-height:1.5em;
    margin: 0em 0em 0em 0em;
}
.reference/**引文*/
{
    font-size: 0.8em;
    text-align: left;
    text-indent:2.0em;
    padding-left:2.0em;
    padding-right:2.0em;
    margin: 0em 0em 0em 0em;
}
.postil/**注释*/
{
    font-size: 1.0em;
    text-align:left;
    line-height:1.5em;
    margin:0em 0em 0em 0em;
}
.poem/**诗词*/
{
    font-size: 1.0em;
    text-align: left;
    padding-left:4.0em;
    padding-right:4.0em;
}
.picture/**图片*/
{
    text-align: center;
}
.descrip/**图片注释*/
{
    font-size: 1.0em;
    text-align: center;
    line-height:1.5em;
}
.fpfd
{
text-align:center;
}