body{
    background-color: antiquewhite;
}

.contain  {
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -90px;
    animation: 2000ms ease-out 0ms 1 normal forwards;

}