@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699399943163') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohang2:before {
  content: "\e631";
}

.icon-b_x:before {
  content: "\e63f";
}

.icon-shequ:before {
  content: "\e8b8";
}

.icon-icon_tool:before {
  content: "\e638";
}

.icon-a-zu54488:before {
  content: "\e5e4";
}

