body,
ul,
li {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container-scroller {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 52px;
    max-width: 100%;
    width: 100%;
    display: flex;
    background: #318be3;
    background:linear-gradient(90deg,#318be3,#06bdfe);
    list-style: none;
}

@media (max-width:991px) {
    .navbar-star {
        background-color: white;
        text-align: center;
        line-height: 52px;
        height: 52px;
        width: 76px;
    }

    .profile-pic img {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 20px;
        margin-left: 10px;
    }

    .navbar-menu-wrapper {
        width: auto !important;
    }


    .navbar-menu-wrapper ul {
        height: 52px;
        line-height: 52px;
    }

    .navbar-menu-wrapper ul li {
        list-style: none;
        display: inline;
        height: 52px;
        line-height: 52px;
    }

    .container-fluid {
        padding-top: 3.5rem;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}